{% extends 'base.html' %}

{% block contenido %}

<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
<script src="/static/admin/js/nav_sidebar.js" defer></script>
<div class="container">
  {{user}}<br>
  Actividad de Usuarios
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Usuario</th>
        <th>Ultima Conexión</th>
        <th>Fecha Alta</th>
               
      </tr>

    </thead>
    <thead>
      <tr>
        {% for a in info %}
          <tr>
            <td>{{a.id}}</td>
            <td>{{a.username}}</td>
            <td>{{a.last_login}}</td>
            <td>{{a.date_joined}}</td>       
          </tr>
        {% endfor %}

        
      </tr>

    </thead>
  </table>  
    <tbody>
      
              
    <tbody>
                      

{% endblock %}