{% extends 'base.html' %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
<script src="/static/admin/js/nav_sidebar.js" defer></script>
<div class="container">
	{{user}}<br>
	Listado de Preguntas
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Pregunta</th>
				<th>Puntaje</th>
				<th>t/f</th>
				<th>Opcion 1</th>
				<th>t/f</th>
				<th>Opcion 2</th>
				<th>t/f</th>
				<th>Opcion 3</th>

			</tr>
		</thead>
		<tbody>
			{% for preg_juego in preguntas %}
				<tr>
					<th>{{preg_juego.id}}</th>
					<th>{{preg_juego.consigna}}</th>
					<th>{{preg_juego.puntaje}}</th>

					{% for resp_juego in respuestas %}
						
						{% if resp_juego.pregunta_id == preg_juego.id %}
							
							<th>{{resp_juego.correcta}}</th>
							<th>{{resp_juego.consigna}}</th>
							
											
						{% endif %}

					{% endfor %}

						
					

				</tr>
			{% empty %}
				<tr>
					No se encontraron Preguntas	
				</tr>
			{% endfor %}
		</tbody>
	</table>
	

</div>

{% endblock %}