{% extends 'base.html' %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
<script src="/static/admin/js/nav_sidebar.js" defer></script>
{% if pregunta is None %}

	<div class="container">
		<h4>Finalizada la ronda de preguntas. Ranking de posiciones</h4>
		<a href="{% url 'ranking' %}">Ver Aqui</a>
	</div>

{% else %}


	<div class="container">
		
		<h4>
			{{pregunta.consigna}}
		</h4>

		<form method="POST" class="form">
			{% csrf_token %}
			<input type="hidden" name="preg_pk" value="{{pregunta.pk}}">

			{% for opciones in pregunta.opciones.all %}
				<div class="form-check mx-4">
				
				<input class="form-check-input" type="radio" name="respuesta_pk" value="{{opciones.pk}}" id="choice-{{forloop.counter}}">
				<label class="form-check-label" for="choice-{{forloop.counter}}">
					{{opciones.consigna}}
			
				</label>
				</div>
			{% endfor %}

			<button type="submit" class="btn btn-primary">
				Enviar
			</button>

		</form>

	</div>

{% endif %}


{% endblock %}